h1, .h1 {
  color: $primary;
  text-transform: uppercase;
}

h6, .h6 {
  font-weight: bold;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

[role="main"] {
  padding-bottom: $spacer * 2;
  padding-top: $spacer * 2;
}
