h1, .h1 {
  color: $primary;
  text-transform: uppercase;
}

.bordered-title {
  border-bottom: $hr-border-width solid $hr-border-color;
  padding-bottom: $hr-margin-y;
  margin-bottom: $hr-margin-y;
}

h6, .h6 {
  font-weight: bold;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

[role="main"] {
  padding-bottom: $spacer * 2;
  padding-top: $spacer * 2;
}
