<footer class="site-footer">
  <div class="container">

    <div class="d-md-flex">
      <div style="flex: 1;" class="pr-md-3">
        <h6>About Barvian Realty</h6>
        <p>
          Thank you for visiting our brokerage website. We are here to service all of your real estate needs.
        </p>
        <p><a href="/about">Read more</a></p>
      </div>
      <div style="flex: 1;">
        {% comment %}
        <div class="map">
          <a target="_blank" href="http://maps.google.com/?q=24030%20W.%20Lockport%20St%20PLAINFIELD">
            <img src="http://maps.google.com/maps/api/staticmap?center=24030%20W.%20Lockport%20St%20PLAINFIELD&zoom=16&size=287x214&markers=color:red|label:A|24030%20W.%20Lockport%20St%20PLAINFIELD&sensor=false"
              alt="image" width="287" height="214"></a>
        </div>
        {% endcomment %}
        <h6>Get in touch</h6>
        <address>
          Come and visit us in person at<br/>
          <strong>24030 W. Lockport St<br/>Plainfield, IL 60544</strong>
        </address>
        <div class="phone">
          <a href="tel:{{ site.tel }}">
            <strong>CALL US</strong> <span>{{ site.phone }}</span>
          </a><br />
          <a href="mailto:{{ site.mailto }}">{{ site.email }}</a>
        </div>

      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between">
      <div>
        <nav class="nav">
          <a href="mailto:{{ site.mailto }}" class="nav-link">Contact Us</a></li>
          <a href="/privacy" class="nav-link">Privacy</a>
        </nav>
        <p>© 2018 Barvian Realty, All Rights Reserved.</p>
      </div>
      <img src="/static/images/logo_eho_black.png" alt="Equal Housing Opportunity" height="60" />
    </div>
  </div>
</footer>