.about_page_call_us {
    color: #0F5597 !important;
}

.about_page_login_text {
    color: #0F5597 !important;
}

.about_page_inquiry {
    color: #FF2A12 !important;
}

.about_page_join_our_team {
    color: #FF2A12 !important;
}

.about_page_broker_and_agent_area {
    color: #FF2A12 !important;
}

#about_page_navigation_bar {
    color: #0F5597 !important;
}

.about_page_advanced_search_link {
    color: #0F5597 !important;
}

.about_page_advanced_search_arrow {
    color: #0F5597 !important;
}

.about_page_know_us {
    color: #0F5597 !important;
}

.about_page_phone_icon {
    color: #0F5597 !important;
}

.about_page_view_profile {
    background: #0F5597 !important;
}

.about_page_read_more {
    color: #FF2A12 !important;
}

.about_page_call_us_footer {
    color: #0F5597 !important;
}

.about_page_inquiry_footer {
    color: #FF2A12 !important;
}

.about_page_contact_us {
    color: #FF2A12 !important;
}

.about_page_privacy {
    color: #FF2A12 !important;
}

.about_page_jobs_faqs {
    color: #FF2A12 !important;
}

.about_page_toc {
    color: #FF2A12 !important;
}

.about_page_socila_facebook {
    background-image: url('/switch_color/FF2A12/realty_tools/images/social.png') !important;
}

.about_page_socila_twitter {
    background-image: url('/switch_color/FF2A12/realty_tools/images/social.png') !important;
}

.about_page_socila_youtube {
    background-image: url('/switch_color/FF2A12/realty_tools/images/social.png') !important;
}

.about_page_socila_pintrest {
    background-image: url('/switch_color/FF2A12/realty_tools/images/social.png') !important;
}

.login_popup_login_title {
    color: #0F5597 !important;
}

.login_popup_login_button {
    background: #0F5597 !important;
}

.login_popup_sign_up {
    color: #FF2A12 !important;
}

.contact_popup_contact_title {
    color: #0F5597 !important;
}

.contact_popup_submit_button {
    background: #0F5597 !important;
}

.create_acc_popup_create_title {
    color: #0F5597 !important;
}

.create_acc_popup_create_button {
    background: #0F5597 !important;
}

.create_acc_popup_login {
    color: #FF2A12 !important;
}

.create_acc_popup_privacy_policy {
    color: #FF2A12 !important;
}

.create_acc_popup_terms_of_use {
    color: #FF2A12 !important;
}

.drop-type ul, .drop-list ul {
    background-color: #0F5597 !important;
}

.drop-type ul, .drop-list ul {
    background-color: #0F5597 !important;
}


