.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-widget-content {
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #222222;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all  a {
    color: #222222;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-state-focus,.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all.ui-widget-content .ui-state-focus {
    background: url("images/ui-bg_glass_75_dadada_1x400.png") repeat-x scroll 50% 50% #DADADA;
    border: 1px solid #999999;
    color: #212121;
    font-weight: normal;
    outline: medium none;
}
.ui-helper-hidden-accessible{
    display:none;
}
body {
    font: 15px/23px Arial,Helvetica,sans-serif;
}
.ui-autocomplete-category {
    color: #808080;
    text-decoration: underline;
    font-weight: bold;
    margin: 5px 0;
}
